*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(204, 43%, 93%);
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:80px 0px;
}
.principal{
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    overflow: hidden; /*Excesos ocultos*/
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    width: auto;
    background-color:white;
}

.header h1{
    color:hsl(179, 62%, 43%);
    font-weight: 700;
    padding:40px 40px 0px 40px;
}

.garantia{
    color: hsl(71, 73%, 54%);
    font-weight: 400;
    padding:30px 40px 0px 40px;
}

.datos1{
    color: hsl(218, 22%, 67%);
    padding:15px 40px 40px 40px;
    line-height: 25px; /*Interlineado*/
}

.contenedor2{
    display:flex;
    flex-direction: column;
    background-color: hsl(179, 62%, 43%);
    color:white;
}

.subscription h2{
    font-weight: 700; 
}

.costo{
    display:flex;
    align-items: center;
    padding:28px 40px 10px 40px;
}

.dollar{
    font-size: 30px;
    font-weight: 700;
}

.moneda{
    margin-left:10px;
    font-weight: 400;
    color:hsl(204, 43%, 93%);
}

.info p{
    padding:0px 40px 25px 40px;
}

.boton{
    display: flex;
    justify-content: center;
}

.boton a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none; 
    color:white;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 30px 40px 40px 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
}

.boton a:hover { 
    background-color: hsl(71, 73%, 48%); 
}

.contenedor3{
    background-color:hsl(179, 46%, 61%);
}

h2{
    color:white;
    font-weight: 700;
    padding:40px 0px 0px 40px;
}

nav ul{
    list-style: none;
    line-height: 25px; /*Interlineado*/
    padding:20px 0px 40px 40px;
}


nav ul li a{
    text-decoration: none;
    color:  hsl(204, 43%, 93%);
}

.footer{
    margin-top: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
